html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;

  font-family: $main-font-family;
  letter-spacing: 0.03em;

  color: $first-text-color;
  background-color: $main-background-color;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.link:visited {
  color: $first-text-color;
}

.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
