$first-text-color: #212121;
$second-text-color: #757575;
$white-text-color: #ffffff;
$accent-color: #2196f3;
$main-background-color: #ffffff;
$dark-background-color: #2f303a;
$second-background-color: #f5f4fa;
$header-frame-color: #ececec;
$main-frame-color: #eeeeee;
$bottoms-inactive-color: #f5f4fa;
$logo-black-color: #000000;
$footer-contacts-color: rgba(255, 255, 255, 0.6);
$icon-inactive-color: #afb1b8;
$main-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-font-family: 'Roboto', sans-serif;
$second-font-family: 'Raleway', sans-serif;
